.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
  position: relative;
}

.login::before {
  display: block;
  content: '';
  background: url('../../Assets/login.jpg') no-repeat center center;
  background-size: cover;
}

.forms {
  max-width: 30rem;
  padding: 1rem;
  position: sticky;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
  }

  .login::before {
    background: none;
  }

  .forms {
    max-width: 100%;
  }
}